// BUTTONS
.btn {
  display: inline-block;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 40px;
  line-height: 40px;
  border-radius: 4px;
  letter-spacing: 2px;
  font-size: 0.8em !important;
  background-color: var(--brand-primary-medium);
  color: white;
  padding: 0px 20px;
  text-transform: uppercase;
  width: auto;
  cursor: pointer;
  transition: all 0.2s;
}

.btn i {
  margin-right: 5px;
  padding-bottom: 1px;
}

.btn:hover {
  opacity: 0.9;
  text-decoration: none;
  color: white;
}

.btn-accent {
  background-color: var(--accent-blue-light);
  border: 1px solid var(--accent-blue-light);
  &:hover {
    opacity: 0.8;
  }
}

.btn-bold {
  background-color: var(--accent-gold);
  border: 1px solid var(--accent-gold);
  &:hover {
    opacity: 0.9;
  }
}

.btn-subtle {
  background-color: var(--accent-gold);
}

.btn-outline {
}

.btn-small {
  height: 30px;
  line-height: 28px;
  padding: 0px 15px;
  font-size: 0.7em;
}

.button-set {
  display: flex;
  flex-flow: row wrap;
  // border: 1px solid red;
  .btn {
    // border: 1px solid red;
    margin: 5px 5px;
  }
}
