// BUTTONS
.btn {
  display: inline-block;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 40px;
  line-height: 40px;
  border-radius: 4px;
  letter-spacing: 2px;
  font-size: 0.8em !important;
  background-color: var(--brand-primary-medium);
  color: white;
  padding: 0px 20px;
  text-transform: uppercase;
  width: auto;
  cursor: pointer;
  transition: all 0.2s;
  box-shadow:var(--shadow-sm);
  text-shadow: inset var(--shadow-sm);
}

.btn i {
  margin-right: 5px;
  padding-bottom: 1px;
}

.btn:hover {
  opacity: 0.9;
  text-decoration: none;
  color: white;
}

.btn-secondary {
  background-color: var(--brand-secondary-toned);
  border: 1px solid var(--brand-secondary-toned);
  &:hover {
    opacity: 0.8;
  }
}

.btn-accent {
  background-color: var(--accent-blue);
  border: 1px solid var(--accent-blue);
  &:hover {
    opacity: 0.8;
  }
}

.btn-bold {
  background-color: var(--accent-gold);
  border: 1px solid var(--accent-gold);
  &:hover {
    opacity: 0.9;
  }
}

.btn-subtle {
  border: 1px solid var(--gray-dark);
  color: var(--gray-dark);
  i {
    color: var(--gray-dark);
  }
}

.btn-outline {
  background-color: #ffffff;
  border: 1px solid var(--brand-secondary-toned);
  color: var(--brand-secondary-toned);
  transition: all 0.3s;
  &:hover {
    opacity: 0.9;

      color: var(--brand-secondary);
      i {
        color: var(--brand-secondary);
      }
  }
  i {
    color: var(--brand-secondary-toned);
  }
}

.btn-small {
  height: 30px;
  line-height: 28px;
  padding: 0px 15px;
  font-size: 0.7em;
}

.button-set {
  display: flex;
  flex-flow: row wrap;
  // border: 1px solid red;
  .btn {
    // border: 1px solid red;
    margin: 5px 5px;
  }
}
