html {
  font-size: var(--space);
}

body {
  font-size: 1.8em;
  font-family: 'Lato', sans-serif;
  background-color: var(--background-main);
  color: var(--brand-primary);
  @media (max-width: $bp-sm) {
    font-size: 1.9em;
  }
  max-width: 100vw;
}

* {
  box-sizing: border-box;
}

/* LAYOUT */

.site-container {
  max-width: var(--page-width);
  margin: auto;
  margin-top: 75px;
  /* border: 1px solid red; */
  display: flex;
  flex-flow: row wrap;
  padding-top: calc(1 * var(--space));
  min-height: calc(100vh - 75px);
  @media (max-width: $bp-xl) {
    .content-container {
      margin-left: 220px;
    }
  }
  @media (max-width: $bp-lg) {
    .content-container {
      width: calc(100% - 70px);
      margin-left: 70px;
    }
    div.side-link-container {
      h4 {
        display: none;
      }
    }
    .side-bar-help {
      display: none;
    }
  }
  @media (max-width: $bp-md) {
    margin-top: 40px;
    .content-container {
      margin-left: 0px;
    }
  }
}

/* CONTENT */

.content-container {
  /* border: 1px solid green; */
  flex: 1 0 auto;
  width: 75%;
  margin-left: 25%;
}
