.tutorials {
}

.upcoming {
  border-radius: 4px;
  border: 1px solid var(--accent-gold);
  padding: 20px;
  padding-left: 30px;
  ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  li {
    padding: 20px;
    background-color: var(--accent-blue-fade);
    // border: 1px solid var(--brand-secondary-toned);
    border-radius: 4px;
    flex: 1 0 250px;
    // width: calc(33% - 20px);
    margin: 10px;
    text-align: center;
    // box-shadow: var(--shadow);
  }
  h3 {
    color: var(--accent-gold);
  }
  h5 {
    font-style: italic;
    font-size: 0.8em;
  }
  @media (max-width: $bp-xl) {
    text-align: center;
    justify-content: center;
    li {
      flex: 1 0 250px;
      max-width: 250px;
    }
  }
}

// ARCHIVE LIST
.archive {
  margin-top: 50px;
}

.archive-list {
  * {
    display: inline-block;
  }
  li {
    background: white;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    font-size: 0.8em;
    line-height: 2.2em;
    padding: calc(1 * var(--space)) calc(1.5 * var(--space));
    border-bottom: 1px solid var(--accent-blue-fade);
    transition: all 0.3s;
    &:first-child {
      border-top: 1px solid var(--accent-blue-fade);
    }
    .archive-item-left {
      // border: 1px solid red;
      width: auto;
    }
    .archive-item-right {
      // border: 1px solid red;
      width: 230px;
      text-align: left;

      a {
        span {
          // display: none;
          margin-left: 10px;
        }
        // border: 1px solid var(--brand-secondary-toned);
        background-color: var(--accent-blue-fade);
        border: none;
        background-color: var(--brand-secondary-toned);
        color: white;
        height: 30px;
        line-height: 28px;
        border-radius: 4px;
        // border-radius: 20px;
        padding: 1px 15px;
        text-align: center;
        // box-shadow: var(--shadow);
        transition: all 0.3s;
        margin-left: 10px;
        i {
          // color: white;
          font-size: 0.9em;
          position: relative;
        }
        &:hover {
          opacity: 0.8;
        }
      }
    }
    .archive-title {
      width: 150px;
      margin-left: 10px;
    }
  }
  @media (max-width: $bp-lg) {
    li {
      padding: 10px;
    }
    .archive-list {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;
    }
    .archive-item-left {
      width: calc(100% - 90px) !important;
      line-height: 30px;
    }
    .archive-item-right {
      width: 90px !important;
      // border: 1px solid red;
      display: flex;
      align-items: center;
      a {
        padding: 0 0px !important;
        span {
          display: none;
        }
        background-color: var(--accent-blue-fade);
        width: 30px;
        height: 30px;
        line-height: 30px;
        border-radius: 4px;
        text-align: center;
        box-shadow: var(--shadow);
        transition: all 0.3s;
        i {
          // color: white;
          font-size: 0.9em;
          position: relative;
          // left: -3px;
        }
      }
    }
  }
  @media (max-width: $bp-sm) {
    .archive-item-right {
      // width: 20%;
    }
  }
}
