.daily-analytics {
    // margin-top: 20px;
    display: flex;
    flex-flow: row wrap;
    // padding: 25px;
    h2 {
        width: 100%;
    }
    h5 {
        font-size: 0.8em;
        text-transform: uppercase;
    }
    .outlook-container, .witt-container {

        // box-shadow: var(--shadow);
        margin: 10px;
        flex: 1 0 auto;
    }
    .outlook-container {
        padding: 20px 25px;
        border-radius:8px;
        background-color: #fff;
        width:calc(60%);
        margin-left: -0px;
        box-shadow: var(--shadow-sm);
        .outlook-video {
            iframe {
                min-height:300px;
            }
    
        }

    }
    .witt-container {
        padding: 25px;
        border-radius:8px;
        background-color: #fff;
        text-align: center;
        border: 1px solid var(--accent-gold);
        box-shadow: var(--shadow-sm);
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        .witt-header {
            margin-top: 30px;
        }
    }

    .summary-container {

        width: 100%;
        margin: 10px;
        margin-left: -0px;
        a {
            display: block;
            padding: 10px 15px;
            border-radius: 8px;
            background-color: var(--accent-blue-light);
            text-align: center;
            // text-decoration: underline;
            letter-spacing: 1px;
            font-weight: lighter;
            font-style: italic;
            // color: #fff;
            color: var(--accent-blue);
            border:1px solid var(--accent-blue)
        }
        
    }
    section {
        margin: 0;
    }
}

.outlook-links {
    font-size: 0.8em;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 10px;
    a {
        width: 50%;
        margin: 0;
    }
}

.witt-join {
    .btn {
        transform: scale(1.8);
    }
}

.witt-container {

    border-radius: 8px;
}

.posted-time {
    color: var(--gray-dark);
    font-size: 0.8em;
    text-transform: uppercase;
    font-style: italic;
}

.webinar-live {
    color: var(--brand-secondary);
    text-transform: uppercase;
    font-size: 0.9em;
    letter-spacing: 2px;
    font-weight: bold;
}

.macro-title {
font-size: 1.4em; 
 i{ font-size: 0.9em}

}


.witt-title {
    text-transform: none;
    letter-spacing: 1px;
    font-size: 1.5em;
    font-style: italic;
}

p.today {
 font-size: 0.7em;
 color: rgba(black,0.6);
//  border: 1px solid rgba(black,0.5);
//  background-color: rgba(black,0.1);
 text-align: center;
 border-radius: 20px;
 display: inline-block;
 margin: 0px auto;
//  padding: 0px 10px;
 text-transform: uppercase;
 margin-bottom: 20px;
}