/* SECTION STYLING - GENERAL */

section {
  // border: 1px solid red;
  // background-color: #fff;
  padding: calc(2 * var(--space));
  padding-top: calc(2 * var(--space));
  padding-bottom: calc(10 * var(--space));
  // margin: calc(3 * var(--space));
  // border-radius: 8px;
  // box-shadow: var(--shadow);
  // min-height: calc(100vh - 100px);
  scroll-margin-top: 95px;
  scroll-padding: 95px;
  -webkit-scroll-margin-top: 95px;
  scroll-snap-margin-top: 162px;
  @media (max-width: $bp-xl) {
    margin: calc(1 * var(--space));
    padding: calc(2 * var(--space));
    // border: 10px solid green;
  }
  @media (max-width: $bp-xl) {
    scroll-margin-top: 62px;
    webkit-scroll-margin-top: 62px;
    scroll-snap-margin-top: 62px;
  }
}

.scroll-top {
  scroll-margin-top: 105px;
  scroll-padding: 105px;
  -webkit-scroll-margin-top: 105px;
  scroll-snap-margin-top: 162px;
}


section h2 {
  color: var(--brand-primary);
  // color: rgba(0,0,0,0.5);
  display: block;
  padding-bottom: var(--space);
  border-bottom: 1px solid rgba(0,0,0,0.05);
  font-size: 1.5em;
  font-weight: normal;
  padding-left: 0;
  margin:0 !important;
  margin-bottom: calc(2 * var(--space)) !important;
  display: flex;
  align-items: center;
  i {
    font-size: 0.8em;
    &.fa-analytics {
      margin-top: 6px;
    }
  }
  @media (max-width: $bp-md) {
    font-size: 1.2em;
    padding-top: 20px;
  }
}

@import 'section-announcements';
@import 'section-welcome';
@import 'section-modules';
@import 'section-tutorials';
@import 'section-further-study';
@import 'section-materials';
@import 'section-trade-updates';
@import 'section-master-programs';
@import 'section-social-feeds';
@import 'section-daily-analytics';
@import 'section-upcoming-events';
@import 'section-tools-and-resources';

.topic-request {
  // border: 1px solid red;
  margin: auto;
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  text-align: center;
  width: 50%;
  padding: 40px;
  img {
    width: 100%;
    padding: 20px;
  }
  p {
    font-size: 0.8em;
  }
}
.question-form {
  width: 50%;
  padding: 30px;
  display: flex;
  flex-flow: column wrap;
  input,
  textarea {
    width: 100%;
  }
  textarea {
    margin-bottom: 20px;
    height: 140px;
  }
}
#help {
  display: flex;
  flex-flow: row wrap;
}
