.master-programs-container {
    // color: white;

    // background-color: var(--accent-gold);
    ul {
        margin-left: -10px;
        list-style-type: none;
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
        li {
            flex: 1 0 300px;
            width: calc(50% - 40px);
            padding:20px;
            margin: 10px;
            // background-color: var(--brand-primary-light);
            background-color: #fff;
            box-shadow: var(--shadow-sm);
            // border: 1px solid var(--brand-secondary);
            border-radius: 8px;
            position: relative;
            a {
                text-decoration: none;
                &:hover {
                    text-decoration: none;
                }
            }
            h3 {
                color: var(--text-primary);
            }
            p {
                font-size: 0.8em;
                margin-top: 10px;
            }
            &:before{
                display: inline-block;
                text-transform: uppercase;
                letter-spacing: 1px;
                font-size: 0.6em;
                padding: 5px 10px;
                border-radius: 8px;
                position: absolute;
                top: 20px;right: 20px;
                padding-right: 8px;
            }
            &.new:before{
                content: 'new';
                background-color: var(--accent-gold);
                color: white;
            }
            &.updated:before{
                content: 'updated';
                background-color: var(--accent-blue);
                color: white;
            }
            &.on-sale:before{
                content: 'on sale';
                background-color: var(--accent-red);
                color: white;
            }
            &.early-access:before{
                content: 'early access';
                background-color: var(--brand-secondary);
                color: white;
            }
        }
    }
    .master-intro {
        p {
            margin: 10px 0px;
            margin-bottom: 30px;
        }
        div {
            display: flex;
            align-items: flex-start;
            justify-content: flex-end;
            margin: 0px;
            // margin-top: -20px;
            margin-top: 10px;
            img {
                width: 100%;
                max-height: 150px;
            }
        }
    }
    

}
.master-cta {
    padding-right: 10px;
}
.bundle-cta {
    background-color: var(--accent-red);
    padding: 20px;
    color:white;
    border-radius: 8px;
    width: 100%;
    display: block;
    text-align: center;
    font-style: italic;
    margin-top: 20px;
    font-weight: lighter;
    opacity:0.9;
    span {
        font-size: 1.4em;
        font-weight: bolder;
    }
    &:hover {
        text-decoration: none;
        color: #fff;
        opacity:1;

            i {
                color: var(--accent-gold);
            }
    }
}